<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>che_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{774,500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{1032,500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{1290,500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{258,1000},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{516,1000},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{774,1000},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{1032,1000},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{1290,1000},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{0,1500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{258,0},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{258,1500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{516,1500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{774,1500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{516,0},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{774,0},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{1032,0},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{1290,0},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{258,500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>che_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,500}</string>
                <key>spriteSourceSize</key>
                <string>{258,500}</string>
                <key>textureRect</key>
                <string>{{516,500},{258,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p.png</string>
            <key>size</key>
            <string>{1548,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:493fadf4317c7526b517a350c68b7f38:5e992e8f893ed19cdb34d6c28466545f:39834edf57f8d4b849947aeeef3ec046$</string>
            <key>textureFileName</key>
            <string>p.png</string>
        </dict>
    </dict>
</plist>
